body {
	background: url("/images/bg-login.gif");
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #fff;
}
table td{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #666;
}
h1 {
	color: #ABE332;
	font-size: 21px;
}
a,
a:visited{
	color: #fff;
}
a:hover {
	color: #ABE332;
}
img {
	border: none;
}

/* FLASH */
.flash {
	position: relative;
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid;
  width: 80.8%;
}
.notice {
	background: #C9FF93;
  border-color: #ABE332;
  color: #585b66;
}

#main-content {
	width:80%;
	margin: 0 auto;
}
/************ Table ************/

#main-content table {
                width: 100%;
                border-collapse: collapse;
                }

#main-content table td a{
  color: #666;
}
#main-content table td a:hover{
  background: none;
  text-decoration: underline;
}                
#main-content table thead th {
                font-weight: bold;
                font-size: 15px;
                border-bottom: 1px solid #ddd;
                }

#main-content tbody {
                border-bottom: 1px solid #ddd;
                }

#main-content tbody tr {
                background: #fff;
                }

#main-content tbody tr.alt-row {
                background: #f3f3f3;
                }

#main-content table td,
#main-content table th {
                padding: 10px;
                line-height: 1.3em;
                }        

#main-content table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
                } 

#main-content table tfoot td .bulk-actions select {
                padding: 4px;
								border: 1px solid #ccc;
                }      
/***************************************************/
/* facebox */
#facebox .b {
  background:url(/images/b.png);
}

#facebox .tl {
  background:url(/images/fbx-border-sprite.png) 0 0;
  width: 10px; 
  height: 10px;
}

#facebox .tr {
  background:url(/images/fbx-border-sprite.png) -10px 0;
  width: 10px; 
  height: 10px;
}

#facebox .bl {
  background:url(/images/fbx-border-sprite.png) -20px 0;
  width: 10px; 
  height: 10px;
}

#facebox .br {
  background:url(/images/fbx-border-sprite.png) -30px 0;
  width: 10px; 
  height: 10px;
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
  /* ie 6 hack -- if the global table width is set to anything it could cause us issues*/
  -width:0%;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .footer img {
  vertical-align: middle;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression("document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'");
}


#facebox a,
#facebox a:visited {
	color: #232323;
}